@mixin overflow_ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin selfhacked_button($height, $font-size, $color: false, $background-color: false, $border-color: false ) {
  height: $height;
  font-size: $font-size;
  line-height: em($height, $font-size);
  border-radius: ($height / 2);
  @if $color != false {
    color: $color;
  }
  @if $background-color != false {
    background-color: $background-color;
  }
  @if $border-color != false {
    border: 1px $border-color solid;
  }
  
  box-shadow: $box-shadow-default;
  padding: 0 24px;
  font-family: $font-family__main-text;
  @include overflow_ellipsis;
}
