.td_category_template_9 {
  .td-category-header {

    .td-ss-main-content {
      position: relative;
    }

    .header-block {
      position: relative;

      .td-block-title {
        span {
          font-size: 30px;
        }
      }

      .entry-title {
        span {
          font-size: 16px
        }
      }
      .td-block-title, .entry-title {
        font-family: $font-family__main-text;
        padding-bottom: 39px;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 18px;
        line-height: 29px;
        position: relative;
        overflow: hidden;
        text-align: left;
      }
      .td-block-title > *, .entry-title > * {
        position: relative;
        padding-right: 20px;
        color: $color__main-alt;
      }
      .td-block-title > *:after, .entry-title > *:after {
        right: 100%;
      }
      .td-block-title > *:before, .entry-title > *:before {
        left: 100%;
      }
      .td-block-title > *:before, .td-block-title > *:after,
      .entry-title > *:before, .entry-title > *:after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 2000px;
        background-color: $color__main-alt;
      }


      .td-category-pulldown-filter {
        top: 0;

        .td-pulldown-filter-display-option,
        .td-pulldown-category-filter-link,
        .td-pulldown-filter-list {
          font-family: $font-family__main-text;
          font-size: 16px;
          font-weight: 600;
          background-color: $color__main-background;
          color: $color__main-scheme;
          border-top: 0 !important;
        }
      }
    }
  }

  .category-filter {
    @include selfhacked_button( 50px, 16px, $color__main-text, $color__main-background, $color__main-scheme );
    font-weight: 600;
    margin: 0 5px 20px 5px;
  }

  .category-filter-active {
    color: #fff;
    background-color: $color__main-alt;
    border: none;
  }
}