$color__genetics-main: $color__main-text;
$font-size__title: 16px;

.td_module_genetics {
  padding-bottom: 0;
  display: flex;

  .title {
    margin: 9px 0;

    .entry-title, .entry-title a {
      color: $color__genetics-main;
      font-size: $font-size__title;
      font-weight: 600;
      width: 90%;
      text-decoration: $color__genetics-main underline;
    }

    .entry-title, &-prefix {
      display: inline-block;
      vertical-align: top;
    }

    .entry-title {
      margin: 0;
      padding: 0;
    }

    &-prefix {
      background-color: $color__genetics-main;
      height: 100%;
      width: 5px;
      border-radius: 2.5px;
      margin-right: 25px;
    }
  }
}