.td_module_top_substances {
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px $color__main-alt solid;
  border-radius: 5px;

  .entry-title, .entry-title a {
    font-family: $font-family__main-text;
    color: $color__main-scheme;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }
}