.td_module_substances {
  padding-top: 5px;
  padding-bottom: 5px;

  .entry-title {
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color__main-text;
    border-bottom: 1px $color__main-text solid;

    a {
      font-size: 18px;
      font-weight: 600;
      color: $color__main-text;
    }
  }
}
