$height__td-post-category: 25px;
$font-size__td-post-category: 13px;

.td_module_selfhacked_2 {
  padding-bottom: 25px;

  .td-module-thumb {
    margin-bottom: 0;
    box-shadow: $box-shadow-default;
  }

  .entry-thumb {
    height: 240px;
    max-width: 380px;
    width: 100%;
    position: relative;
    border-radius: $border-radius-medium;
    background-size: cover;
    background-position: center;
    box-shadow: $box-shadow-default;
  }

  .entry-thumb:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $border-radius-medium;
    background: $background-gradient;
  }

  .td-module-meta-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0 15px;

    .td-post-category {
      position: initial;
      height: $height__td-post-category;
      font-family: $font-family__main-text;
      font-size: $font-size__td-post-category;
      font-weight: bold;
      line-height: em($height__td-post-category, $font-size__td-post-category);
      border-radius: $border-radius-small;
      padding: 0 15px;
    }

    .entry-title {
      padding: 20px 0;
    }

    .td-post-author-name a {
      color: #fff;
    }

    .comments, .rating {
      display: inline-block;
      font-family: $font-family__main-text;
      font-size: 14px;
      color: #fff;
      font-weight: bolder;
      padding-left: 15px;
      i {
        padding-right: 5px;
        font-size: 22px;
      }
    }

    h3 a {
      width: 95%;
      height: 60px;
      color: #fff !important;
      font-family: $font-family__main-text;
      font-size: 18px;
      font-weight: bold;
      overflow: hidden;
    }
  }
}