.section {
  &-container {
    width: 96% !important;
    margin: 0 auto !important;

    @media screen and ( min-width: map-get($grid-breakpoints, 'sm') ) {
      width: 546px !important;
    }
    @media screen and ( min-width: map-get($grid-breakpoints, 'md') ) {
      width: 738px !important;
    }

    @media screen and ( min-width: map-get($grid-breakpoints, 'lg') ) {
      width: 962px !important;
    }
    @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
      width: 1140px !important;
    }
  }
  &-sep {
    margin: 25px auto !important;
  }
  &-row {
    display: block;
    font-size: 0;
  }
  &-col {
    &-1 {
      @include section-column;
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        width: 95px !important;
      }
    }
    &-2 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 190px !important;
      }
    }
    &-3 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 285px !important;
      }
    }
    &-4 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 380px !important;
      }
    }
    &-5 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 475px !important;
      }
    }
    &-6 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 570px !important;
      }
    }
    &-7 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 665px !important;
      }
    }
    &-8 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 760px !important;
      }
    }
    &-9 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 855px !important;
      }
    }
    &-10 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 950px !important;
      }
    }
    &-11 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 1045px !important;
      }
    }
    &-12 {
      @include section-column;
      @media screen and ( min-width: map-get($grid-breakpoints, 'xl') ) {
        width: 1140px !important;
      }
    }
  }
}