// Set base height
html,body {
  height:100%;
}

// Reset fonts
body, p, .td-header-row, h1, h2, h3, h4, h5, h6, .widget {
  font-family: $font-family__main-text;
}

a {
  color: $color__main-scheme;
}

// Reset Background color
.td-container-wrap {
  background-color: $color__main-background;
}

// Hide crazy icon from Jetpack
#wpstats {
  display: none;
}

// Adthrive redundant div
.adthrive-device-desktop .adthrive-comscore, .adthrive-device-tablet .adthrive-comscore, .adthrive-device-phone .adthrive-comscore {
  display: none;
}

// Move scroll up when adthive available
.td-scroll-up-visible{
  & {
    background-color: $color__main-scheme;
  }

  .adthrive-device-desktop &, .adthrive-device-tablet & {
    transform: translate3d(0, -102px, 0);
  }

  .adthrive-device-phone & {
    transform: translate3d(0, -62px, 0);
  }

  @include media-breakpoint-down('md') {
    display: block;
  }
}

// Reset some Newspaper css
.td-page-content, .td-container-wrap {
  padding-bottom: 0;
}

.td-main-page-wrap {
  padding-top: 0;
}

.td_block_wrap {
  margin-bottom: 0;
}

// Repair line height
.tdm-descr {
  line-height: 1.5em;
}

#wp-admin-bar-query-monitor {
  @include media-breakpoint-down('md') {
    display: none !important;
  }
}
