.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.hidden {
  display: none!important;
}

.visible--block {
  display: block !important;
}

@function em($px, $base) {
  @return ($px / $base) * 1em;
}
