$font-family__main-text: 'Poppins', sans-serif !default;

$color__main-scheme: #00b0c0 !default;
$color__main-background: #fcf7ff !default;
$color__main-border: #E6DCED !default;

$color__main-alt: #674987 !default;

$color__main-text: #7c7287 !default;
$color__main-text--hover: $color__main-scheme !default;

$color__second-scheme: #f0489c !default;

$breakpoint__sm: 480px;
$breakpoint__md: 768px;
$breakpoint__lg: 1024px;
$breakpoint__xl: 1200px;

$background-gradient: linear-gradient(180deg, rgba(124, 114, 135, 0) 0%, rgba(69, 64, 75, 1) 100%);
$border-radius-small: 5px 5px 5px 5px;
$border-radius-medium: 10px 10px 10px 10px;
$box-shadow-default: 0 0 20px rgba(0, 0, 0, 0.05);

// From Bootstrap 4
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
