.about {

  .detail-name, .detail-content {
    font-style: italic;
    font-family: $font-family__main-text;
  }
  .detail-name {
    color: $color__main-alt;
    font-weight: bold;
  }
  .detail-content {
    color: $color__main-text;
    padding-bottom: 12px;
  }
  .team-member-title {
    i {
      padding-left: 15px;
    }
  }

  .about-equation {
    display: none;
  }

  @include media-breakpoint-up('xl') {
    .about-equation {
      display: block;
      width: 1200px;
      height: 277px;
      position: relative;

      .about-equation-statement {
        position: absolute;
        width: 210px;
        height: 277px;
        border: 1px transparent solid;
        border-radius: 5px;
        top: 0;
        z-index: 5;

        .about-equation-details {
          position: absolute;
          width: 207px;
          height: 106px;
          top: 169px;
          left: 1px;
          background-color: #f6f1fa;
          border-radius: 0 0 5px 5px;
          color: $color__main-alt;
          font-family: $font-family__main-text;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          padding: 34px 0;
        }

        img {
          position: absolute;
          top: 37px;
        }

        &:nth-child(1) {
          left: 0;

          img {
            left: 56px;
            width: 99px;
            height: 103px;
          }
        }
        &:nth-child(3) {
          left: 247.5px;

          img {
            left: 59px;
            width: 97px;
            height: 103px;
          }
        }
        &:nth-child(5) {
          left: 495px;

          img {
            left: 60px;
            width: 90px;
            height: 100px;
          }
        }
        &:nth-child(7) {
          left: 742.5px;

          img {
            left: 55px;
            width: 100px;
            height: 100px;
          }
        }
        &:nth-child(9) {
          left: 990px;

          img {
            left: 50px;
            width: 113px;
            height: 100px;
          }
        }
      }

      .about-equation-operator {
        position: absolute;
        height: 75px;
        width: 75px;
        border: 1px transparent solid;
        border-radius: 75px;
        background-color: #fff;
        top: 102px;
        z-index: 10;

        i {
          padding: 28px;
          text-align: inherit;
          line-height: 22px;
          border-width: 0px;
          margin: 0px;
          letter-spacing: 0px;
          font-weight: 400;
          font-size: 22px;
        }

        &:nth-child(2) {
          left: 191.25px;
        }
        &:nth-child(4) {
          left: 438.75px;
        }
        &:nth-child(6) {
          left: 686.25px;
        }
        &:nth-child(8) {
          left: 933.75px;
        }
      }

      .equation-blue {
        border-color: #82D2D9;
        color: #82D2D9;
      }

      .equation-red {
        border-color: #F79AAE;
        color: #F79AAE;
      }


    }
  }
}