.author {
  .name {
    overflow: hidden;
    position: relative;
    color: $color__main-alt;
    font-family: $font-family__main-text;
    font-size: 30px;
    font-weight: bold;
    text-align: left;

    h1 {
      position: relative;
      padding-right: 20px;
    }
    i {
      padding: 0 15px;
    }

    @include media-breakpoint-down('md') {
      margin-top: 24px;
    }
  }

  .name > * {
    position: relative;
    padding-right: 20px;
  }
  .name > *:after {
    right: 100%;
  }
  .name > *:before {
    left: 100%;
  }
  .name > *:before, .name > *:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 2000px;
    background-color: $color__main-alt;
  }

  .credentials {
    font-family: $font-family__main-text;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(103,73,135,0.6);
  }
  .summary {
    font-family: $font-family__main-text;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 0;
    color: $color__main-text;
  }
  .biography {
    font-family: $font-family__main-text;
    font-size: 16px;
    color: $color__main-text;
    padding-bottom: 25px;
  }
  .details {
    padding: 15px;
    border-left: 5px $color__main-alt solid;
    border-radius: 5px;
    background-color: #eee6f2;
    .detail-name, .detail-content {
      font-style: italic;
      font-family: $font-family__main-text;
    }
    .detail-name {
      color: $color__main-alt;
      font-weight: bold;
    }
    .detail-content {
      color: $color__main-text;
      padding-bottom: 12px;
    }
  }
}
