.careers {
  &-open-positions {
    .open-position {
      border-bottom: 1px $color__main-alt solid;
      padding: 20px 0;

      h3 {
        cursor: pointer;
        font-family: $font-family__main-text;
        font-size: 20px;
        line-height: 20px;
        color: $color__main-text;
        font-weight: bold;
        margin: 0;

        i {
          color: #39C9D4;
          padding-right: 29px;
        }
      }

      h3.is-expanded {
        color: $color__main-scheme;
      }

      &-wrapper {
        display: none;
        border-top: 1px #E9DAF2 solid;
        margin-top: 15px;
      }

      &-contents {
        padding-top: 30px;
        font-family: $font-family__main-text;
        font-size: 16px;
        line-height: 23px;
        color: $color__main-text;
      }
    }

    .open-position:first-child {
      padding-top: 0;
    }

    .open-position:last-child {
      border-bottom: none;
    }
  }

  .apply-button {
    height: 50px;
    width: 350px;
    background-color: $color__main-scheme;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    font-family: $font-family__main-text;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    border-radius: 50px;
    border: none;
  }
}