.contact-us {
  .contact-form-wrapper {
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
  }
  &-label {
    font-family: $font-family__main-text;
    font-size: 18px;
    color: $color__main-text;
    font-weight: 600;

    input {
      border: 1px solid #F0EAF4;
      background-color: #FFFFFF;
      border-radius: 5px;
    }
  }
  .sendbutton {
    height: 50px;
    border-radius: 25px;
    width: 256px;
    background-color: $color__main-scheme;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    color: #FFFFFF;
    font-family: $font-family__main-text;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    padding: 0;
  }
  &-faqs {
    .faq {
      border-bottom: 1px $color__main-alt solid;
      padding: 20px 0;

      h3 {
        cursor: pointer;
        font-family: $font-family__main-text;
        font-size: 20px;
        line-height: 20px;
        color: $color__main-text;
        font-weight: bold;
        margin: 0;

        i {
          color: #39C9D4;
          padding-right: 29px;
        }
      }

      h3.is-expanded {
        color: $color__main-scheme;
      }

      &-wrapper {
        display: none;
        border-top: 1px #E9DAF2 solid;
        margin-top: 15px;
      }

      &-contents {
        padding-top: 30px;
        font-family: $font-family__main-text;
        font-size: 16px;
        line-height: 23px;
        color: $color__main-text;
        font-weight: normal;
      }

    }

    .faq:first-child {
      padding-top: 0;
    }

    .faq:last-child {
      border-bottom: none;
    }
  }
}