$color__footer__main-background: #403b46 !default;;
$color__footer__main-text: #ffffff !default;;
$color__footer__main-text--hover: $color__main-scheme !default;
$color__footer__heading: #8c8990 !default;

$width__gutter: 15px !default;

.td-footer-wrapper {
  background-color: $color__footer__main-background;
  color: $color__footer__main-text;

  h1, h2, h3, h4, h5, h6, div .td_block_template_8 .td-block-title > * {
    color: $color__footer__heading;
  }

  div .td_block_template_8 .td-block-title > *:before, div .td_block_template_8 .td-block-title > *:after {
    background-color: transparent;
  }

  .widget a:hover {
    color: $color__footer__main-text--hover;
  }

  .widget li {
    line-height: 22px;
  }

  .menu .sub-menu, .menu a > i {
    display: none;
  }

  .footer-menu-1, .footer-menu-2 {
    padding: 0;
    .menu-item a {
      font-size: 14px;
    }
  }

  .footer-menu-1 .menu-item a {
    font-weight: bold;
  }

  .footer-menu-2 {
    padding-top: 47px;
    .menu {
      margin: 0;
      .menu-item a  {
        font-weight: normal;
      }
    }
  }

  .footer__social-container {
    i {
      padding-right: 28px;
      font-size: 22px;
    }
  }

  .footer__newsletter-text {
    small {
      font-size: 80%;
      color: $color__footer__heading;
    }
  }

  .footer__contact-text {
  }

  .footer__follow-us {
  }
}

.td-sub-footer-container {
  & {
    color: $color__footer__main-text;
    font-size: 13px;
  }

  .sub-footer {
    &__copyright-text {
      float: right;
      padding-top: 24px;
      padding-bottom: 24px;

      p:last-child {
        margin-bottom: 0;
      }
    }

    &__logo {
      padding-top: 12px;
      padding-bottom: 8px;
    }

    &__logo img {
      height: 45px;
      width: auto;
    }
  }
}

.footer-main-row {
  display: flex;

  &__col-1 {
    flex: 1 1 40%;
  }

  &__col-2 {
    flex: 1 1 auto;
  }

  &__col-3 {
    flex: 1 0 400px;
  }

  @include media-breakpoint-down('md') {
    display: block;
  }
}
