$color__header__main-text: $color__main-text !default;
$color__header__main-text--hover: $color__main-text--hover !default;

$height__header--desktop: 76px !default;
$height__header--mobile: 74px !default;

$height__header__button-posts-mega-menu: 400px;

$font-size__menu: 15px;
$font-size__sub-menu: 14px;

.td-header-wrap {
  .sf-menu > li > a {
    color: $color__header__main-text;
  }

  .sf-menu > li > a:hover {
    color: $color__header__main-text--hover;
  }

  &.td-header-style-7 .sf-menu {
    margin-top: 0;
  }

  &.td-header-style-7 .td-header-sp-logo {
    height: $height__header--desktop;
  }

  &.td-header-style-7 .header-search-wrap #td-header-search-button .td-icon-search, &.td-header-wrap .sf-menu > li > a, &.td-header-style-7 .td-header-sp-logo a {
    line-height: $height__header--desktop;
  }

  .sf-menu > li {
    margin-left: 2px;
    margin-right: 2px;
  }

  .sf-menu > li > a {
    font-weight: 400;
    font-size: $font-size__menu;
    text-transform: capitalize;
  }

  .sf-menu > li > a:after {
    bottom: 18px;
    height: 2px;
  }

  .sf-menu > .current-menu-item > a:after, .sf-menu > .current-menu-ancestor > a:after, .sf-menu > .current-category-ancestor > a:after, .sf-menu > li:hover > a:after, .sf-menu > .sfHover > a:after {
    background-color: $color__header__main-text--hover;
  }

  .sf-menu ul .td-menu-item > a {
    height: 37px;
    line-height: 37px;
    font-size: $font-size__menu;
    font-weight: 500;
    padding: 0 28px;
    border: none;
    color: $color__header__main-text;
  }

  li.button-store {
    &:hover > a:after {
      background-color: transparent;
    }

    a {
      background-color: $color__main-scheme;
      color: white;
    }

    a:hover {
      background-color: $color__second-scheme;
      color: white;
    }
  }

  li.button-posts {
    & {
      position: static;
    }

    & > ul {
      left: 0 !important;
      width: 100% !important;
      height: $height__header__button-posts-mega-menu !important;
      border: 1px solid #eaeaea;
      padding-top: 21px;
      box-shadow: none;
    }

    & > ul > li > a {
      width: 25% !important;
      position: relative;
    }

    & > ul > li > a:after {
    }

    & > ul > li.td-mega-menu > a.sf-with-ul {
      width: 25% !important;
    }

    &.sfHover > ul > li:first-child > ul {
      top: 14px;
      z-index: 1;
      display: block !important;
    }

    ul .current-menu-ancestor > a, ul .current-category-ancestor > a, ul .current-menu-item > a {
      font-style: italic;
    }

    ul .td-menu-item > a:hover, ul .sfHover > a {
      background-color: $color__header__main-text--hover;
      color: white;
      position: relative;
    }

    ul .td-menu-item > a:hover:before, ul .sfHover > a:before,
    .td_mega_menu_sub_cats a.cur-sub-cat:before {
      position: absolute;
      z-index: 100;
      content: '';
      bottom: 0;
      right: -16px;
      width: 0;
      height: 37px;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
    }

    ul .td-menu-item > a:hover:before, ul .sfHover > a:before {
      border-left: 17px solid $color__header__main-text--hover;
    }

    & > ul > li.td-mega-menu > ul.sub-menu {
      left: 62.5% !important;
      width: 75% !important;
      box-shadow: none;
      padding-top: 0;
      padding-bottom: 0;
      height: $height__header__button-posts-mega-menu !important;
      border-right-width: 0;
      display: flex !important;
    }

    & > ul > li.td-mega-menu > ul.sub-menu > li, & > ul > li.td-mega-menu > ul.sub-menu > li > div, & > ul > li.td-mega-menu > ul.sub-menu > li > div > div, & > ul > li.td-mega-menu > ul.sub-menu > li > div > div > div {
      height: 100%;
      display: flex;
      width: 100%;
      background-color: #f4f4f4;
    }

    .td-header-wrap li.button-posts > ul > li.td-mega-menu > a.sf-with-ul {

    }

    & > ul > li.td-mega-menu.sfHover > ul.sub-menu {
      top: 14px !important;
    }

    .td_mega_menu_sub_cats {
      flex: 0 0 33.33%;
      width: 33.33%;
      max-width: none;
      background-color: #f9f9f9;
      height: $height__header__button-posts-mega-menu;
    }

    .td_mega_menu_sub_cats .block-mega-child-cats {
      max-height: $height__header__button-posts-mega-menu;

      // We need to force the browser to show scrollbar for people to know
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      }
    }

    .td_mega_menu_sub_cats a {
      font-weight: 400;
      font-size: $font-size__sub-menu;
      padding: 6px 24px;
      height: 37px;
      border: none;
      color: $color__header__main-text;
      text-align: left;
      position: relative;
    }

    .td_mega_menu_sub_cats a.cur-sub-cat {
      color: $color__header__main-text--hover;
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(239, 239, 239, 1) 0%, rgba(227, 227, 227, 1) 100%);
      font-weight: 700;
    }

    .block-mega-child-cats {
      overflow: initial;
      position: relative;
      & > .cur-sub-cat:before {
        background-color: transparent;
        border-left: 17px solid rgba(227, 227, 227, 1);
      }
    }

    .td-mega-grid .td_block_inner {

    }

    .td-mega-grid .td-mega-row {
      display: flex;
      flex-flow: column;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 22px;
    }

    .td-mega-grid .td-mega-row .td-mega-span {
      float: none;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
      margin-left: 0;
      min-height: auto;
      width: auto;
    }

    .td-mega-grid .td-mega-row .td-mega-span h3 {
      font-size: $font-size__menu;
      margin: 0;
    }

    .td-mega-grid .td-mega-row .td-mega-span h3 a {
      color: $color__header__main-text;
      line-height: 1.6em;
      padding-top: 6px;
      padding-bottom: 6px;
      text-decoration: underline;
    }

    .td-mega-grid .td-mega-row .td-mega-span h3 a:hover {
      color: $color__header__main-text--hover;
    }

    .td-mega-grid .td-mega-row .td-mega-span .item-details .td-module-title {
      font-size: $font-size__sub-menu;
      color: $color__header__main-text;
    }

    .td-mega-grid .td-mega-row .td-mega-span .item-details .td-module-title a {
      color: $color__header__main-text;
    }

    .td-mega-grid .td-mega-row .view-all-posts a {
      line-height: 1.6em;
      padding-top: 6px;
      padding-bottom: 6px;
      text-transform: uppercase;
      margin-top: 18px;
      font-size: 120%;
      position: relative;
      display: inline-block;
    }

    .td-mega-grid .td-mega-row .view-all-posts a:after {
      position: absolute;
      z-index: 1;
      right: -18px;
      content: '\e80d';
      font-family: newspaper;
      font-size: 75%;
    }

    .td-mega-grid .td-mega-row .view-all-posts a:hover {
      color: $color__second-scheme;
    }
  }

  @include media-breakpoint-up('xl') {
    .td-container.td-header-row {
      max-width: 1192px;
      width: auto;
    }
  }
}
