$color__search-highlight: #f0489c !default;
$color__search-button: $color__main-scheme !default;

.td-search-wrap-mob .td_module_wrap .entry-title {
  font-size: 14px;
}

.search-result {
  &-with-highlight-keywords {
    font-size: 80%;
  }

  &-with-highlight-keywords .found-text {
    font-weight: 700;
  }

  h3 {
    font-weight: 400;
  }

  h3 .found-text {
    font-weight: 400;
    background-color: $color__search-highlight;
  }
}

.search {
  .search-input {
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    border: 1px rgba(124, 114, 135, 0.15) solid;
    height: 50px;
    color: $color__main-text;
    padding-left: 25px;
  }
  .search-submit {
    position: absolute;
    top: 0;
    right: 25px;
    background-color: transparent;
    color: $color__search-button;
    line-height: 50px;
    font-size: 26px;
    border: none;
    margin-left: -50px
  }
}

.td-search-background:before {
  background: rgba(0, 0, 0, 0.9);
}
