.single-post {

  .single-wrapper {
    background-color: #fff;
  }

  .featured-image {
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.05);
    margin-bottom: 25px;
    width: 100%;

    .subscribe-form-wrapper {
      padding: 24px;
      position: absolute;
      bottom: 0;
      left: 0;

      h3 {
        color: #fff;
        font-family: $font-family__main-text;
        font-size: 28px;
        font-weight: 600;
      }
    }
  }
  .comments-row {
    background-color: #fff;
    padding: 50px 0;

    .comments {
      .comment-list {
        height: 50vh;
        overflow-y: scroll;
      }

      .td_block_template_21 {

        .td-block-title {
          padding-bottom: 34px;
          border-bottom: 1px $color__main-text solid;
        }

        .td-block-title > * {
          color: $color__main-text;
          font-family: $font-family__main-text;
          font-size: 25px;
          font-weight: bold;
        }
      }

      .comment {
        padding-top: 24px;
        margin: 0;
        border-bottom: none;

        .comment-content, .comment-meta, .comment-respond {
          margin: 0;
        }

        .comment-meta {
          padding-bottom: 24px;
          border-bottom: 1px $color__main-text solid;
        }

        .comment-content {
          padding: 17px 0;
        }

        .children {
          margin-top: 24px;
          margin-bottom: 24px;
          padding-left: 44px;
          padding-top: 0;
          border-top: none;
          border-left: 1px $color__main-scheme solid;
          margin-left: 0;

          .comment {
            padding: 0;
          }
        }

        cite, time, .comment-reply-link {
          font-family: $font-family__main-text;
        }

        cite, time {
          font-size: 14px;
        }

        .comment-reply-link {
          font-size: 13px;
          color: $color__main-scheme;
          i {
            font-size: 15px;
            padding-right: 8px;
          }
        }

        cite, cite a {
          color: $color__main-text;
          font-weight: bold;
        }

        time {
          color: $color__main-text;
          i {
            font-size: 16px;
          }
        }
      }

      .comment-respond {
        border: 1px solid #F0EAF4;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        padding: 28px;

        .comment-reply-title {
          font-family: $font-family__main-text;
          font-size: 18px;
          font-weight: 600;
          color: $color__main-text;
        }

        .comment-form {

          .td-form-comment {
            height: 83px;

            textarea {
              resize: none;
              height: 83px;
              min-height: 83px;
              border-radius: 5px;
              font-family: $font-family__main-text;
              font-size: 14px;
              color: #9C90A9;
            }
          }

          .input-wrapper {
            margin-bottom: 28px;

            .bold-label {
              font-family: $font-family__main-text;
              font-size: 14px;
              font-weight: bold;
              display: block;
              vertical-align: top;
              line-height: 40px;
              width: 100%;
              color: $color__main-text;

              input[type="text"] {
                display: block;
                width: 100%;
                font-weight: normal;
                padding-left: 11px;
                border: 1px solid #F0EAF4;
                border-radius: 5px;
              }
            }
          }

          .checkbox-wrapper {
            width: 100%;
            display: block;
            vertical-align: top;
            margin-bottom: 28px;
          }

          .form-submit {
            display: block;
            margin: 0;

            input[type="submit"] {
              height: 50px;
              padding: 0 60px;
              font-family: $font-family__main-text;
              font-size: 15px;
              font-weight: 600;
              color: #fff;
              line-height: 50px;
              background-color: $color__main-scheme;
              border-radius: 25px;
            }
          }

          .checkbox-label:first-of-type {
            margin-bottom: 12px;
          }

          .checkbox-label {
            display: block;
            font-size: 14px;
            color: $color__main-text;
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input:checked ~ .checkmark:after {
              display: block;
            }

            input[type="checkbox"] {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
            .checkmark:after {
              left: 6px;
              top: 2px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: $color__main-scheme;
          border-radius: 4px;
        }
        .comment-form:hover input[type="checkbox"] ~ .checkmark {
          background-color: $color__main-scheme;
        }

        .comment-form input:checked ~ .checkmark {
          background-color: $color__main-scheme;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
      }
    }
    @include media-breakpoint-up('xl') {
      .comments {
        .comment {
          .children {
            margin-left: 70px;

            .children {
              margin-left: 56px;
            }
          }
        }
        .comment-respond {
          .comment-form {
            .input-wrapper {
              height: 40px;
              text-align: right;

              .bold-label {
                display: inline-block;
                vertical-align: top;
                height: 40px;
                width: 49.7%;
                text-align: left;

                input[type="text"] {
                  height: 40px;
                  width: 70%;
                  display: inline-block;
                  margin-left: 11px;
                  vertical-align: top;
                }
              }
            }
            .checkbox-wrapper {
              width: 49.7%;
              display: inline-block;
              vertical-align: top;
              margin-bottom: 0;
            }
            .form-submit {
              display: inline-block;
              text-align: right;
              vertical-align: top;
              width: 49.7%;
            }
          }
        }
      }
    }
  }
  .dislike-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #38343D;
    opacity: .98;
    padding-top: 100px;
    padding-left: 40%;
    h3, label {
      font-family: $font-family__main-text;
      color: #fff;
      font-weight: 600;
    }
    h3 {
      font-size: 28px;
    }
    label {
      display: block;
      font-size: 16px;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input:checked ~ .checkmark:after {
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: $color__main-scheme;
      border-radius: 4px;
    }
    .container:hover input ~ .checkmark {
      background-color: $color__main-scheme;
    }

    .container input:checked ~ .checkmark {
      background-color: $color__main-scheme;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .hidden {
      display: none !important;
    }
    .reason, button {
      height: 50px;
      margin-top: 22px;
      border-radius: 25px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      border: none;
      line-height: 50px;
    }
    .reason {
      display: block;
      width: 445px;
      background-color: $color__main-background;
    }
    button {
      width: 215px;
      background-color: $color__main-scheme;
      font-family: $font-family__main-text;
      font-size: 15px;
      color: #fff;
      font-weight: 600;
    }
    .close-icon {
      padding-left: 15px;
      line-height: 50px;
      font-size: 24px;
      color: #F79AAE;
      cursor: pointer;
    }
  }
  .dislike-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #38343D;
    opacity: .98;
    padding-top: 100px;
    padding-left: 40%;
    h3, label {
      font-family: $font-family__main-text;
      color: #fff;
      font-weight: 600;
    }
    h3 {
      font-size: 28px;
    }
    label {
      display: block;
      font-size: 16px;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input:checked ~ .checkmark:after {
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: $color__main-scheme;
      border-radius: 4px;
    }
    .container:hover input ~ .checkmark {
      background-color: $color__main-scheme;
    }

    .container input:checked ~ .checkmark {
      background-color: $color__main-scheme;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .hidden {
      display: none !important;
    }
    .reason, button {
      height: 50px;
      margin-top: 22px;
      border-radius: 25px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      border: none;
      line-height: 50px;
    }
    .reason {
      display: block;
      width: 445px;
      background-color: $color__main-background;
    }
    button {
      width: 215px;
      background-color: $color__main-scheme;
      font-family: $font-family__main-text;
      font-size: 15px;
      color: #fff;
      font-weight: 600;
    }
    .close-icon {
      padding-left: 15px;
      line-height: 50px;
      font-size: 24px;
      color: #F79AAE;
      cursor: pointer;
    }
  }
  .post {
    & {
      background-color: transparent;
    }

    h1, h2, h3, h4, h5, h6, p {
      font-family: $font-family__main-text;
      color: $color__main-text;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    .td-module-meta-info {
      a {
        color: $color__main-scheme;
      }
    }

    ol.comment-list {
      height: 500px;
      overflow-y: scroll;
    }
  }

  .header-meta {
    text-align: right;
    padding: 10px 0;
  }

  .header-metabox {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 44px;
    width: 90px;
    border-radius: 30px;
    border: 1px solid rgba(124, 114, 135, 0.4);
    color: $color__main-scheme;
    font-size: 14px;
  }

  .header-separator {
    width: 100%;
    border-bottom: 1px $color__main-text solid;
    margin-bottom: 20px
  }

  header.td-post-title {
    h1.entry-title {
      color: $color__main-alt;
      font-family: $font-family__main-text;
      font-size: 36px;
      font-weight: bold;
    }
  }

  .td-post-comments, .td-post-rating {
    padding: 11px 0;
    i {
      font-size: 20px;
      padding-right: 10px;
    }
    .rating-grey {
      color: rgba(124, 114, 135, 0.4);
    }
  }

  .td-category {
    li {
      margin: 5px 10px 5px 0;
    }
    a {
      padding: 0 10px;
      border-radius: 5px;
      height: 25px;
      box-shadow: 0 0 rgba(0, 0, 0, 0.1);
      font-size: 13px;
      font-weight: bold;
      line-height: 25px;
    }
  }

  .post-ratings {
    &-wrapper {
      text-align: center;
    }
    &-header {
      font-family: $font-family__main-text;
      font-size: 15px;
      line-height: 26px;
      color: #c2bdc5;
    }
    &-hr {
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 1px solid #c2bdc5;
    }
  }

  .disclaimer-wrapper {
    padding: 40px 0;
    text-align: left;
    .title, .description {
      font-family: $font-family__main-text;
      color: $color__main-text;
      opacity: .7;
    }

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .description {
      font-size: 14px;
    }
  }
}