.start-here {
  &-equation {
    display: block;

    &-result, &-expression {
      display: inline-block;
      vertical-align: top;
      height: 108px;
      width: 191px;
      border-radius: 5px;

      h3, h4, h5 {
        padding: 0 24px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    &-result {
      border: 1px solid #F0EAF4;
      background-color: $color__main-text;

      h3 {
        font-family: $font-family__main-text;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        line-height: 14px;
        color: #fff;
        padding: 47px 24px;
      }
    }
    &-expression {
      border: 1px solid $color__main-text;

      h4, h5 {
        color: $color__main-alt;
        text-align: center;
        font-weight: 600;
        line-height: 18px;
      }

      h4 {
        font-size: 15px;
      }

      h5 {
        font-size: 11px;
      }
    }
    &-operator {
      display: inline-block;
      vertical-align: top;
      color: $color__main-text;
      padding: 46px 7px;
      font-size: 24px;

      span {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .expression {
      &-1 {
        padding: 20px 23px 0 24px;

        &-sub {
          padding: 0 23px 21px 24px;
        }
      }
      &-2 {
        padding: 39px 46px 39px 44px;
      }
      &-3 {
        padding: 39px 23px 39px 21px;
      }
    }
  }

  &-common-issues {
    .common-issue {
      border-bottom: 1px $color__main-alt solid;
      padding: 20px 0;

      h3 {
        cursor: pointer;
        font-family: $font-family__main-text;
        font-size: 20px;
        line-height: 20px;
        color: $color__main-text;
        font-weight: bold;
        margin: 0;

        i {
          color: #39C9D4;
          padding-right: 29px;
        }
      }

      h3.is-expanded {
        color: $color__main-scheme;
      }

      &-wrapper {
        display: none;
        border-top: 1px #E9DAF2 solid;
        margin-top: 15px;
      }

      &-contents {
        padding-top: 30px;
        font-family: $font-family__main-text;
        font-size: 16px;
        line-height: 23px;
        color: $color__main-text;
      }

      &-links {
        padding-top: 30px;
        .link-container {
          i {
            color: $color__main-text;
            padding-right: 14px;
            font-size: 20px;
          }
          a {
            font-family: $font-family__main-text;
            font-size: 16px;
            font-weight: bold;
            line-height: 33px;
            color: $color__main-scheme;
          }
          .product-type, .article-type, .quiz-type {
            text-align: center;
            margin-left: 16px;
            color: #fff;
            height: 20px;
            display: inline-block;
            font-weight: bold;
            border-radius: 3px;
          }
          .product-type {
            background-color: #00AF4E;
            width: 25px;
          }
          .article-type {
            background-color: #0056C0;
            width: 75px;
          }
          .quiz-type {
            background-color: $color__main-alt;
            width: 48px;
          }
        }
      }
    }

    .common-issue:first-child {
      padding-top: 0;
    }

    .common-issue:last-child {
      border-bottom: none;
    }
  }
}