.store {
  &-filter {
    color: $color__main-text;
    background-color: $color__main-background;
    border: 1px solid $color__main-scheme;
    font-family: $font-family__main-text;
    font-size: 16px;
    font-weight: 600;
    height: em(50, 16);
    line-height: em(50, 16);
    border-radius: 25px;
    padding: 0 20px;
    margin: 0 5px 20px 5px;

    &:focus {
      outline: none;
    }

    &-active {
      color: #fff;
      background-color: $color__main-alt;
      border: none;
    }

    @include media-breakpoint-down('md') {
      line-height: em(28, 16);
      height: em(28, 16);
      margin: 0 2px 6px;
      border-radius: 14px;
      padding: 0 8px;
    }
  }
}
