$color__sub-footer__main-background: #343039 !default;;
$color__sub-footer__main-text: #ffffff !default;;
$color__sub-footer__main-text--hover: $color__main-scheme !default;
$color__sub-footer__heading: #8c8990 !default;

.td-sub-footer-container {
  background-color: $color__sub-footer__main-background;

  .adthrive-device-desktop &, .adthrive-device-tablet & {
    padding-bottom: 102px;
  }

  .adthrive-device-phone & {
    padding-bottom: 62px;
  }
}
