.custom-toc-widget {
  border: 1px solid #f0eaf4;
  border-radius: 10px;
  background-color: #fff;

  h4 {
    text-align: center !important;

    span {
      font-family: $font-family__main-text;
      font-size: 16px;
      font-weight: bold;
      color: #c2bdc5 !important;
    }

    span:after, span:before {
      display: none !important;
    }
  }

  ul {
    li {
      border-top: 2px solid #eee;
      font-family: $font-family__main-text;
      font-size: 15px;
      color: $color__main-text;
      width: auto;
      padding-right: 6px;

      i {
        padding: 15px 35px;
        color: #39c9d4;
        font-size: 20px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: top;
      }

      .toc-item {
        display: inline-block;
        width: 62%;
        padding-top: 15px;
      }

      ul {
        display: none;
        background-color: #f9f9f9;
        border-left: 5px solid $color__main-scheme;

        li {
          padding-left: 15px;

          a {
            font-family: $font-family__main-text;
            font-size: 14px;
            line-height: 14px;
            color: $color__main-scheme;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
