.checkout-lab-test-analyzer-row {
  div.wpb_wrapper, div.tdm_block_inline_text {
    text-align: center;
  }

  .checkout-lab-test-analyzer-column {

    .checkout-lab-test-analyzer-button-wrapper {
      padding-top: 55px;
      padding-bottom: 30px;

      .checkout-lab-test-analyzer-button {
        height: 50px;
        width: 202px;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba(0,0,0,0.05);
        color: #fff;
        font-family: $font-family__main-text;
        font-size: 15px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
      }
    }
  }
  @include media-breakpoint-up('md') {
    .checkout-lab-test-analyzer-column {
      height: 160px;
      .checkout-lab-test-analyzer-description {
        width: 60%;
      }
    }
    div.wpb_wrapper, div.tdm_block_inline_text {
      text-align: left;
    }
  }
}