.checkout-selfdecode-row {
  div.wpb_wrapper {
    text-align: center;
  }
  .tdm_block.tdm_block_inline_text {
    text-align: center;
  }
  .checkout-selfdecode-button-wrapper {
    padding: 10px 0;
    text-align: center;

    .checkout-selfdecode-button {
      height: 50px;
      width: 202px;
      background-color: transparent;
      border: 2px solid #FFFFFF;
      border-radius: 25px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      color: #fff;
      font-family: $font-family__main-text;
      font-size: 15px;
      font-weight: 600;
      line-height: 50px;
      text-align: center;
    }
  }
  @include media-breakpoint-up('md') {
    height: 160px;

    div.wpb_wrapper {
      text-align: left;
    }
    .tdm_block.tdm_block_inline_text {
      text-align: left;
    }
    .checkout-selfdecode-button-wrapper {
      padding: 55px 0 0 0;
      text-align: right;
    }
  }
}