.contact-us-row {
  div.wpb_wrapper {
    text-align: center;
  }

  .contact-us-button {
    height: 50px;
    background-color: $color__main-scheme;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    border: none;
    border-radius: 25px;
    font-family: $font-family__main-text;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
    text-align: center;
    padding: 0 15px;
    i {
      padding-lefT: 32px;
      font-size: 20px;
    }
  }

  @include media-breakpoint-up('md') {
    height: 160px;

    div.wpb_wrapper {
      text-align: left;
    }
  }
}