.start-here-row {

  div.wpb_wrapper {
    text-align: center;
  }

  .start-here-image {
    display: none;
  }

  .start-here-button-wrapper {
    padding: 10px 0;

    button.start-here {
      height: 50px;
      width: 202px;
      background-color: $color__main-scheme;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      border: none;
      border-radius: 25px;
      font-family: $font-family__main-text;
      font-size: 15px;
      font-weight: 600;
      line-height: 50px;
      color: #fff;
      text-align: center;
      i {
        padding-lefT: 32px;
        font-size: 20px;
      }
    }
  }

  @include media-breakpoint-up('md') {
    height: 160px;

    div.wpb_wrapper {
      text-align: left;
    }

    .start-here-details {
      width: 75%;
    }

    .start-here-button-wrapper {
      padding: 55px 0 0 0;

      div.wpb_wrapper {
        text-align: right;
      }
    }
  }

  @include media-breakpoint-up('lg') {
    .start-here-image {
      display: block;
    }

    .start-here-details {
      width: 50%;
    }
  }
}