.subscribe-cta-row {
  div.tdm_block {
    text-align: center;
  }

  select.subscribe-cta-select-list, input.subscribe-cta-email-input, button.subscribe-cta-button {
    height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: $font-family__main-text;
    font-size: 15px;
    line-height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
  }

  select.subscribe-cta-select-list, input.subscribe-cta-email-input {
    width: 35%;
    color: #9C90A9;
    text-indent: 25px;
  }

  select.subscribe-cta-select-list {
    border-radius: 25px 0 0 25px;
    border: none;
    border-right: 1px #887F92 solid;
  }

  input.subscribe-cta-email-input {
    border: none;
    margin-left: -3px;
  }

  button.subscribe-cta-button {
    border: none;
    color: #fff;
    background-color: $color__second-scheme;
    border-radius: 25px;
    font-weight: 600;
    text-align: center;
    margin-left: -25px;
    width: 30%;
  }

  @include media-breakpoint-up('md') {
    height: 130px;

    div.tdm_block {
      text-align: left;
    }
  }
}