$color__start-here__main-background: $color__main-text !default;
$color__check-out-lta__main-background: #f44e5a !default;
$color__start-here__main-text: #ffffff !default;

.shortcode__selfhacked-cta {
  & {
    color: $color__start-here__main-text;
    background-color: transparent;
    display: flex;
  }

  &--start-here {
    position: relative;
  }

  &--start-here:before {
    content: ' ';
    top: 0;
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 0;
    background-color: $color__start-here__main-background;
  }

  &--start-here &-inner {
    position: relative;
    z-index: 2;
  }

  &--check-out-lta {
    background-color: $color__check-out-lta__main-background;
    padding-left: 24px;
    padding-right: 24px;
  }

  &--check-out-sd {
    position: relative;
  }

  &--check-out-sd:before {
    content: ' ';
    top: 0;
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(to right, $color__main-scheme, #0090bf);
  }

  &--check-out-sd &-inner {
    position: relative;
    z-index: 2;
  }

  &-inner {
    display: flex;
    width: 100%;
    min-height: 160px;
    @include media-breakpoint-down('md') {
      flex-flow: column;
    }
  }

  &-inner > div {
    padding-left: 24px;
    padding-right: 24px;

    @include media-breakpoint-down('md') {
      & {
        padding-right: 0;
        padding-left: 0;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }

  &-inner > div:first-child {
    padding-left: 0;
  }

  &-inner > div:last-child {
    padding-right: 0;
  }

  &__image {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
  }

  &__image--parallelogram {
    transform: skewX(-7deg);
    overflow: hidden;
  }

  &__image img {
    display: block;
    height: 160px;
    width: auto;
    transform: skewX(7deg) scale(1.15);
  }


  &__content {
    & {
      display: flex;
      flex: 1 1 auto;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 16px;
      justify-content: center;
      align-items: center;
    }

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
      margin-top: 0;
    }

    h1, h2, h3 {
      font-weight: 700;
    }

    p {
      font-size: 16px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &--check-out-lta &__content, &--check-out-sd &__content {
    justify-content: start;
  }

  &__link {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
  }

  &__link a {
    border-radius: 25px;
    background-color: $color__main-scheme;
    padding: 14px 36px;
    text-transform: uppercase;
    color: inherit;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 700;
  }

  &--check-out-lta &__link a, &--check-out-sd &__link a {
    border: 2px solid $color__start-here__main-text;
    background-color: transparent;
  }

  &__link a:hover {
    background-color: $color__second-scheme;
  }

  &--check-out-lta &__link a:hover, &--check-out-sd &__link a:hover {
    background-color: transparent;
    border: 2px solid $color__main-text;
    color: $color__main-text;
  }

  &__link a i {
    padding-left: 12px;
    font-weight: 700;
  }

  &--contact-us:before {
    content: ' ';
    top: 0;
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 0;
    background-color: $color__main-text;
  }

  &--contact-us {
    position: relative;
  }

  &--contact-us &-inner {
    position: relative;
    z-index: 2;
  }

  &--contact-us &__content {
    h3 {
      margin: 0;
    }
  }
  @include media-breakpoint-up('lg') {
    &--contact-us &__content {
      justify-content: start;
    }
  }
}
