.subscribe-form {
  &__form-content {
    display: flex;
    flex-wrap: wrap;
  }

  .selfhacked-selectbox-style-1 {
    -webkit-appearance: none;
    border-width: 0;
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: $color__main-text;
    max-width: 200px;
  }

  .selfhacked-selectbox-style-1:focus {
    outline: none;
  }

  .selfhacked-selectbox-style-1-wrapper {
    position: relative;
  }

  .selfhacked-selectbox-style-1-wrapper:after {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
    width: 10px;
    height: 40px;
    mask-image: url("https://cdnjs.cloudflare.com/ajax/libs/octicons/8.1.3/svg/chevron-down.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50%;
    background-color: $color__main-scheme;
    display: block;
    content: " ";
    pointer-events: none;
  }

  .selfhacked-selectbox-style-1-wrapper.opened:after {
    mask-image: url("https://cdnjs.cloudflare.com/ajax/libs/octicons/8.1.3/svg/chevron-up.svg");
  }

  input[type=email] {
    flex: 1 1 auto;
    color: $color__main-text;
    width: auto;
    border-width: 0;
    border-left: 1px solid $color__main-text;
    max-width: 200px;
    height: 40px;
    font-size: 14px;

    @include media-breakpoint-down('md') {
      max-width: 90px;
    }
  }

  input[type=email]:focus {
    z-index: 10;
  }

  &__submit-button {
    flex: 0 1 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color__second-scheme;
    color: white;
    width: auto;
    height: 40px;
    display: inline-block;
    position: relative;
    border: none;
    line-height: 40px;
    font-weight: 700;

    @include media-breakpoint-up('md') {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
      left: -20px;
    }
  }

  &__submit-button:hover {
    cursor: pointer;
    background-color: $color__main-scheme;
  }

  &__submit-button:focus {
    outline: none;
  }

  &__submit-button label {
    padding-left: 4px;
    padding-right: 4px;
    pointer-events: none;

    @include media-breakpoint-down('md') {
      display: none;
    }
  }

  &__submit-button i {
    display: none;
    font-size: 120%;

    @include media-breakpoint-down('md') {
      display: block;
    }
  }

  &__thank-you-message, &__processing {
    display: none;
  }

  &__thank-you-message {
    padding: 6px 12px;
    background-color: $color__main-scheme;
    color: white;
    max-width: 240px;
  }

  &__processing {
    animation: blinker 1s linear infinite;
    padding: 6px 12px;
    color: $color__main-scheme;
    max-width: 240px;
  }

  &.loading &__form-item {
    display: none;
  }

  &.loading &__processing {
    display: block;
  }

  &.success &__thank-you-message {
    display: block;
  }

  &.success &__form-item {
    display: none;
  }

  .td-footer-wrapper .widget &__submit-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    padding-right: 0;
    left: 0;
  }

  .td-footer-wrapper .widget &__submit-button label {
    display: none;
  }
  .td-footer-wrapper .widget &__submit-button i {
    display: inline-block;
  }

  .td-footer-wrapper .widget & .selfhacked-selectbox-style-1 {
    margin: 0;
  }

  .td-footer-wrapper .widget & input[type=email] {
    max-width: 120px;

    @include media-breakpoint-down('md') {
      max-width: 90px;
    }
  }

  .newsletter-subscription-page & {
    & {
      max-width: 480px;
      margin: 36px auto 24px;
      padding-left: 12px;
      padding-right: 12px;
    }

    input[type=email] {
      border-width: 1px;
      border-radius: 0;
      max-width: none;
      width: 100%;
    }

    &__interest-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__interest-item {
      flex: 0 0 50%;
    }

    &__interest-item label {
      margin-left: 2px;
    }

    &__thank-you-message {
      display: none;
    }

    &__form-content {
      display: flex;
      flex-wrap: nowrap;
    }

    &__form-row {
      margin-bottom: 12px;
    }

    &__submit-button {
      border-radius: 20px;
      padding-left: 12px;
      padding-right: 12px;
    }

    &__processing {
      display: none;
    }

    &__processing label {
      animation: blinker 1s linear infinite;
      background-color: $color__main-scheme;
      color: white;
      font-size: 120%;
      padding: 6px 12px;
    }
  }
}
