.td_block_store_item {
  height: 300px;
  margin: 20px 0;
  box-shadow: $box-shadow-default;
  overflow: hidden;

  .content-wrapper {
    width: 100%;
    display: flex;
    vertical-align: top;
    border-radius: 0 0 5px 5px;

    .left-wrapper {
      display: none;
    }

    .details-wrapper {
      width: 100%;
      display: inline-block;
      vertical-align: top;

      .center-wrapper {
        width: 100%;
        height: 200px;
        vertical-align: top;
        border-radius: 0 5px 0 0;

        .title {
          text-align: center;
          padding: 25px 15px 21px 15px;
          margin: 0;
          font-family: $font-family__main-text;
          font-size: 18px;
          font-weight: 600;
        }

        .description {
          text-align: center;
          padding: 0 15px;
          font-family: $font-family__main-text;
          font-size: 12px;

          @include media-breakpoint-down('md') {
            font-size: 16px;
          }
        }

        @include media-breakpoint-down('md') {
          height: auto;
        }
      }

      .right-wrapper {
        width: 100%;
        height: 100px;
        border-radius: 0 0 5px 0;
        text-align: center;

        .price {
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: $font-family__main-text;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }

        .button {
          @include selfhacked_button( 30px, 12px );
          border: none;
          font-weight: 600;
        }
      }
    }
  }

  @include media-breakpoint-up('md') {
    .content-wrapper {
      .left-wrapper {
        display: inline-block;
        width: 25%;
        height: 200px;
        text-align: center;
        border-radius: 5px 5px 0 0;

        img {
          margin: 0 auto;
          display: inline-block;
          width: 225px;
          height: 200px;
        }
      }

      .details-wrapper {
        width: 75%;
      }
    }
  }

  @include media-breakpoint-up('lg') {
    height: 300px;

    .content-wrapper {
      width: 100%;

      .left-wrapper {
        width: 25%;
        height: 300px;
        border-radius: 5px 0 0 5px;
        text-align: left;
      }

      .details-wrapper {
        width: 75%;

        .center-wrapper {
          width: 100%;
          display: inline-block;
          height: 200px;

          .title {
            padding: 40px 15px 21px 15px;
            font-size: 24px;
          }

          .description {
            font-size: 16px;
          }
        }

        .right-wrapper {
          height: 100px;
          width: 100%;
          display: inline-block;
          vertical-align: top;
          border-radius: 0 0 5px 0;
          text-align: center;

          .price {
            font-size: 22px;
          }

          .button {
            @include selfhacked_button( 40px, 13px );
          }
        }
      }
    }
  }

  @include media-breakpoint-up('xl') {
    height: 200px;

    .content-wrapper {

      .left-wrapper {
        height: 200px;
      }

      .details-wrapper {
        display: flex;

        .center-wrapper {
          width: 75%;

          .title {
            padding: 40px 15px 21px 15px;
          }
        }

        .right-wrapper {
          width: 25%;
          height: 200px;
          border-left: 2px #EFE9F3 solid;
          border-radius: 0 5px 5px 0;

          .price {
            padding-top: 50px;
            font-size: 24px;
          }

          .button {
            @include selfhacked_button( 50px, 15px );
          }
        }
      }
    }
  }
  @include media-breakpoint-down('md') {
    height: auto;
  }
}
