$color__section-title: $color__main-alt !default;
$color__section-border: $color__main-border !default;

.td_block_selfhacked_substances {
  .td_block_inner {
    padding: 20px 0;
  }

  .search-field {
    width: 100%;
    height: 50px;
    font-family: $font-family__main-text;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    color: $color__main-text;
    padding: 0 28px;
    box-sizing: border-box;
    border: 1px solid rgba(124,114,135,0.15);
    border-radius: 25px;

    &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
      color: $color__main-text;
    }
  }

  .substance-filters {
    margin: 20px 0;

    .letter-filters, .search-filter {
      margin: 20px 0;
    }

    .category-filters {
      margin: 20px 0;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: $box-shadow-default;

      .subcategory-wrapper {
        display: none;
        background-color: #F9F9F9;
        padding: 20px 24px;

        .subcategory-filter {
          margin: 10px 0;
          @include selfhacked_button( 40px, 16px, $color__main-text, #fff, rgba(124,114,135,0.4) );
          width: 100%;
          font-weight: 600;

          &.active {
            border: none;
            background-color: $color__main-alt;
            color: #fff;
          }
        }
      }

      .category-filter-header {
        height: 55px;
        line-height: em(55px, 20px);
        color: $color__main-text;
        font-family: $font-family__main-text;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0 22px;
        cursor: pointer;

        i {
          color: $color__main-scheme;
          padding-right: 22px;
        }

        .reset-filter {
          display: none;
          color: $color__main-scheme;
          font-family: $font-family__main-text;
          font-size: 14px;
          font-weight: bold;
          line-height: em(55px, 14px);
          text-transform: uppercase;
          float: right;
        }

        &.active {
          color: $color__main-scheme;
        }
      }

      .category-filter-wrapper {
        border-top: 2px #EEE solid;
        background-color: #fff;
        padding: 20px 24px;
        display: none;

        .category-filter {
          margin: 10px 0;
          @include selfhacked_button( 50px, 16px, $color__main-text, #fff, $color__main-scheme );
          width: 100%;
          font-weight: 600;

          &.active {
            border: none;
            background-color: $color__main-alt;
            color: #fff;
          }
        }
      }
    }

    .letter-filters {

      .letter-filter {
        display: inline-block;
        padding: 0 10px 0 0;
        color: $color__section-border;
        font-family: $font-family__main-text;
        font-size: 26px;
        font-weight: 600;
        background-color: transparent;
        border: none;
        cursor: not-allowed;
        line-height: em(36px, 26px);

        &-active {
          color: $color__main-scheme;
          cursor: pointer;
        }

        &.active {
          color: $color__main-scheme;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .letter-filter:last-of-type {
        padding: 0;
      }

    }

    .search-filter {
      position: relative;
      height: 50px;

      .substance-search-field {
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        line-height: em(50px, 16px);
        border-radius: 25px;
        font-family: $font-family__main-text;
        font-size: 16px;
        color: $color__main-text;
        border: 1px solid rgba(124, 114, 135, 0.15);
        padding: 0 26px;
      }

      i {
        position: absolute;
        top: 0;
        right: 48px;
        color: $color__main-scheme;
        font-size: 18px;
        line-height: em(50px, 18px);
      }

    }

  }

  .td_block_inner {
    margin: 20px 0;

    .title-section {
      margin: 25px 0;

      .td-section-title {
        font-family: $font-family__main-text;
        font-size: 29px;
        font-weight: 700;
        margin: 0;
        line-height: em(29px, 29px);
        position: relative;
        overflow: hidden;
        text-align: left;
      }

      .td-section-title > * {
        position: relative;
        padding-right: 20px;
        color: $color__section-title;
      }

      .td-section-title > *:after {
        right: 100%;
      }

      .td-section-title > *:before {
        left: 100%;
      }

      .td-section-title > *:before, .td-section-title > *:after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 2000px;
        background-color: $color__section-border;
      }

    }

  }

  *:focus {
    outline: none;
  }

  @include media-breakpoint-up('md') {
    .substance-filters {
      .category-filters {
        .subcategory-wrapper {
          height: 82px;
          padding: 21px 0;
          .subcategory-filter {
            margin: 0;
          }
        }
        .category-filter-wrapper {
          height: 92px;
          padding: 20px 0;
          .category-filter {
            margin: 0;
          }
        }
      }
    }
    *[data-name="module"] {
      border-right: 1px $color__section-border solid;
      &.no-border {
        border: none;
      }
    }

    *[data-name="section"] {
      [data-name="module"]:last-of-type {
        border: none;
      }
    }
  }
}
