.td_block_top_substances {
  .td_block_inner {
    margin: 20px 0;
  }

  .block-footer {
    text-align: right;
    a {
      font-family: $font-family__main-text;
      font-size: 14px;
      color: $color__main-scheme;
      font-weight: 600;

      i {
        padding-left: 20px;
      }
    }
  }
}