.td_block_selfhacked_book_ad {

  .content-wrapper {
    width: 100%;
    position: relative;

    img {
      position: relative;
      z-index: 11;
    }

    .details-wrapper {
      min-height: 50%;
      border: 1px solid $color__main-alt;
      border-radius: 5px;
      padding: 21px 10px 10px 50%;
      position: absolute;
      top: 70px;
      left: 0;

      .title, .description, .price {
        font-weight: $font-family__main-text;
      }

      .title, .price {
        font-weight: bold;
      }

      .title {
        margin: 0;
        padding: 0;
        font-size: 22px;
      }

      .price {
        font-size: 16px;
      }

      .description {
        font-size: 14px;
      }
    }
  }

  @include media-breakpoint-up('md') {
    .content-wrapper {
      img {
        width: 50%;
        height: auto;
      }

      .details-wrapper {
        top: 0;
      }
    }
  }

  @include media-breakpoint-up('lg') {
    .content-wrapper {
      .details-wrapper {
        top: 25px;
      }
    }
  }

  @include media-breakpoint-up('xl') {
    .content-wrapper {
      .details-wrapper {
        top: 50px;
      }
    }
  }
}