.td_block_description_1 {
  .column {
    position: relative;
    text-align: center;
    border: 1px solid $color__main-scheme;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 24px;
    height: 300px;
    margin: 50px 0;
    background-color: #fff;

    img, .description {
      padding: 20px 0;
    }

    .description {
      text-align: center;
      color: #5E6578;
      font-family: $font-family__main-text;
      font-size: 18px;

      &-bold {
        font-weight: 600;
      }
    }

    .circle {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -32px;
      width: 64px;
      height: 64px;
      border: 1px solid $color__main-scheme;
      color: $color__main-scheme;
      font-size: 31px;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px;
      text-align: center;
      line-height: em(64px, 31px);
      background-color: #fff;
    }
  }

  @include media-breakpoint-up('md') {
    .column {
      height: 470px;
    }
  }

  @include media-breakpoint-up('lg') {
    .column {
      height: 400px;
    }
  }

  @include media-breakpoint-up('xl') {
    .column {
      height: 380px;
    }
  }
}