.td_block_template_21 {
  .td-block-title {
    line-height: 35px;

    * {
      display: inline-block;
      vertical-align: top;
    }

    .border {
      width: 6px;
      height: 35px;
      border-radius: 6px;
      margin-right: 15px;
    }
  }
}