 .td_block_template_20 {
  .td-block-title {
    font-size: 20px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 18px;
    line-height: 29px;
    position: relative;
    overflow: hidden;
    text-align: left;
  }
  .td-block-title > * {
    position: relative;
    padding-right: 20px;
    color: #000;
  }
  .td-block-title > *:after {
    right: 100%;
  }
  .td-block-title > *:before {
    left: 100%;
  }
  .td-block-title > *:before, .td-block-title > *:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 2000px;
    background-color: #f5f5f5;
  }
  i {
    padding-right: 15px;
  }
}